:root{
    --font-color:#635873;
    --dark-font-color:#404040;
    --light-font-color:#d1d1d1;
    --body-background-color:#c7c7c7;
    --nav-background-color:#f2f2f2;
    --about-background:#d2d2d1;
    --product-info-background:#b9b9b9;
    --contact-background:#025930;
    --catalog-hover-dark:#7E878C;
    --catalog-hover-light:#8B94A3;
    --buttons-background-color:#e3e3e3b3;
    --buttons-background-color-active:#d3d3d3aa;
}
html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--body-background-color);
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--font-color);
    font-size: 17px;
    overflow-x: hidden;
}
/* Nav */
.nav {
    display: flex;
    position: fixed;
    z-index: 9999;
    background-color: var(--nav-background-color);
    top: 0;
    align-items: center;
    justify-content: space-between;
    width: 100vw; 
}
.nav__logo{
    margin: 15px 45px;
    transition: margin 0.2s ease;
}
.nav__hamburger-container{
    display: none;
}
.hamburger__line{
    display: block;
    width: 30px;
    height: 2px;
    margin: 6px 0px;
    background-color: var(--dark-font-color);
    transition: all 300ms ease;
}
.open .hamburger__line:first-child{
    transform: translateY(8px) rotate(45deg);
    transition: all 300ms ease;
}
.open .hamburger__line:nth-child(2){
    opacity: 0;
}
.open .hamburger__line:last-child{
    transform: translateY(-8px) rotate(-45deg);
    transition: all 300ms ease;
}
.nav__ul{
    display: flex;
    justify-content: end;
    flex-grow: 1;
    margin: 25px 45px 0px;
    transition: margin 0.2s ease;
}
.nav__ul-phone{
    display: none;
    opacity: 0;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 80px;
    margin: 25px 0;
    padding: 5px;
    background-color: var(--nav-background-color);
    transition: top 0.2s ease;
}
.nav__ul-li{
    opacity: 0.7;
    display: inline;
    margin: 8px;
}
.nav__ul-li:hover{
    opacity: 1;
}
.nav__ul-li__a{
    color: var(--font-color);
    text-decoration: none;
}
.main{
    margin: 105px 0px 0px 0px;
}
.about,.catalog,.contact{
    scroll-margin: 105px 0px 0px 0px;
}
/* about */
.about{
    display: flex;
    flex-flow: column nowrap;
    height: 86vh;
    background-color: var(--about-background);
    position: relative;
}
.about__inner{
    overflow: hidden;
    width: 100vw;
    display: flex;
    align-items: center;
}
.carrousel{
    height: 100%;
    width: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    transition: transform 1s ease;
}
.carrousel__container-img{
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
.buttons{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.buttons .button{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 700;
    margin: 20px;
    border: none;
    padding: 12px;
    background: var(--buttons-background-color);
    border-radius: 12px;
}
.buttons .button:active{
    background-color: var(--buttons-background-color-active);
}
/* catalog */
.catalog{
    padding: 14px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.catalog__product{
    background-color: var(--product-info-background);
    border-radius: 12px 0px;
    position: relative;
    margin: 12px;
    min-height: 386px;
    cursor: pointer;
}
.catalog__product:hover{
    box-shadow: 3px 3px 5px var(--catalog-hover-light);
}
.catalog__product:focus{
    color: var(--dark-font-color);
    box-shadow: 3px 3px 5px var(--catalog-hover-dark);
    scale: 1.03;
    transition: all 150ms;
}
.product__img-container{
    display: flex;
    align-items: center;
    margin: 8px;
    height: 68%;
    border-radius: 10px 10px  0 0;
    overflow: hidden;
}
.product__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.product__options{
    position: absolute;
    display: none;
    top: 8px;
    right: 8px;
}
.product__options-visible{
    display: block;
}
.product__options img{
    margin: 4px;
    cursor: pointer;
    transition: transform 0.2s;
}
.product__options img.clicked {
  animation: heartbeat 0.5s;
  animation-fill-mode: both;
}
.product__name{
    margin: 0px 4px;
    padding-top: 13px;
}
.product__price{
    margin: 0px 4px;
    font-size: 14px;
    color: #067f2d;
}
.product__description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin:4px;
}
/* contact */
.contact {
    background-color: var(--contact-background);
    color: var(--light-font-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 28px 28px 12px;
}
.contact__info {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
.contact__info-p{
    margin: 0 20px;
}
.copyright{
    font-size: 12px;
    display: inline-block;
    opacity: 0.7;
}

/* keyframes */
@keyframes appear {
    0%{
        display: none;
        opacity: 0;
    }
    100%{
        display: flex;
        opacity: 1;
    }
}
@keyframes desappear {
    0%{
        display: flex;
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}
@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}
/* Media queries*/
@media screen and (max-width: 735px) {
    .nav__hamburger-container{
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        margin-right: 12px;
    }
    .nav__ul{
        display: none;
    }
}